/* common */
	.ktml_bg {
		background-color: buttonface;
	}
	.ktml .toolbar {
		border:1px outset buttonface;
		cursor:default;
	}
	.ktml .introspector {
		font-family: "Microsoft Sans Serif",Tahoma,Arial,Verdana,sans-serif;
		font-size: 11px;
		margin-top: 0px;
		vertical-align:top;
	}
	.ktml .taginspector {
		font-family: "Microsoft Sans Serif",Tahoma,Arial,Verdana,sans-serif;
		font-size: 9px;
	}
.sep{
	position:relative;
	top:2px;
	font-family: "Microsoft Sans Serif",Tahoma,Arial,Verdana,sans-serif;
	font-size: 11px;
	line-height:12px;
	margin:0px;
	padding:0px;
}
a.tagitem{
	position:relative;
	top:2px;
	font-family: "Microsoft Sans Serif",Tahoma,Arial,Verdana,sans-serif;
	font-size: 9px;
	color:#0000ff;
	margin:1px;
	padding:1px;
	text-decoration:none;
}
a.tagitem:visited{
	color:#0000ff;
	margin:1px;
	padding:1px;
	text-decoration:none;
}
a.tagitem:hover{
	color:#0000ff;
	margin:0px;
	padding:1px;
	text-decoration:none;
	border-width:1px;
	border-style:solid;
	border-color: buttonhighlight buttonshadow buttonshadow buttonhighlight;
}
a.tagitem:active{
	color:#0000ff;
	margin:0px;
	padding:1px;
	text-decoration:none;
	border-width:1px;
	border-style:solid;
	border-color: buttonshadow buttonhighlight buttonhighlight buttonshadow;
}
.shadow{
	display:none;
	border:0px solid black;
	margin:0px;
	padding:0px;
	position:absolute;
	z-index:99;
	width:10px;
	left:0px;
	top:0px;
	background:url(../../images/editor_images/s.gif);
}

.HTMLDropdown {
	/*  */
}
.lcontainer {
	font-size:12px;
	border: 1px solid black;
	padding:0px;
	margin:3px 2px 2px 3px;
	cursor: default;
	background-color: #ffffff;
	float:left;
}
.lcontainer_disabled {
	font-size:12px;
	border: 1px solid black;
	padding:0px;
	margin:3px 2px 2px 3px;
	cursor: default;
	background-color: #ffffff;
	float:left;
	filter: alpha(opacity = 25);
	-moz-opacity: 0.3;
}

div.optcontainer {
	font-size:12px;
	position:absolute;
	overflow: auto;
	border: 1px solid black;
	background-color: #ffffff;
	display: none;
	z-index:99;
}
.opt {
	font-size:12px;
	padding:1px;
	margin:1px;
	cursor:default;
	overflow:hidden;
}
.HTMLDropdown .separator {
	clear: both;
	height: 1px;
}

	.ktgrey, td.kttd, .tr. {
		background-color: buttonface;
	}
	.ktfonts, .ktfontb {
		font-family: "Microsoft Sans Serif",Tahoma,Arial,Verdana,sans-serif;
	}
	.ktfonts {
		font-size: 11px;
	}
	.ktfontb {
		font-size: 13px;
	}
	/* leftMargin="10" topMargin="0" marginwidth="0" marginheight="0" bgcolor="#FAFAFA" */
	body.body {
		font-family: "Microsoft Sans Serif",Tahoma,Arial,Verdana,sans-serif;
		font-size: 11px;
		color: #000000;
		background-color: buttonface;
		margin-top:1px;
		margin-bottom:0px;
	}
/*
	a, a:link, a:visited, a:active, a:hover {
		font-size: 9px;
		text-decoration: none;
		color: #0000ff;
	}
	a:hover {
		color: #2a7f9e;
	}
*/
/* /common */

/* forms */
	.ktml_input {
		background-color: #FFFFFF;
	}
.ktml_select {
	background-color: #FFFFFF;
	width: 80px;
	font-size:11px;
	font-weight: normal;
	font-family: "Microsoft Sans Serif",Tahoma,Arial,Verdana,sans-serif;
	border: 1px solid #666666;
}
	.ktml_fieldset {
		padding: 2px;
		height: 90%;
		margin: 2px;
		border: 1px solid #666666;
	}
	.ktml_input, .ktml_label, .ktml_button, .ktml_legend {
		font: normal 11px "Microsoft Sans Serif",Tahoma,Arial,Verdana,sans-serif;
	}
	.ktml_input {
		border: 1px solid #666666;
	}

	.ktml_button {
		width: 100px;
		margin-top:6px;
		border: 1px solid #666666;
		cursor: hand;
	}
	.ktml_button:hover {
		border: 1px solid #000000;
		background-color:#999999;
	}
	.ktml_label {

	}
	.ktml_legend {
		font-size: 12px;
	}
	.ktml_table {
		border: 0px;
	}
	.directory {
		font-family: sans-serif;
		font-size: 12px;
		font-weight:bold;
		cursor:hand;
	}
	.directory_selected {
		font-family: sans-serif;
		font-size: 12px;
		background-color:#AAAAAA ;
		font-weight:bold;
		cursor:hand;
	}
	.file {
		font-family: sans-serif;
		font-size: 10px;
		cursor:hand;color: #000000;
	}
	.file_selected {
		font-family: courier;
		font-size: 10px;
		background-color:#AAAAAA;
		cursor:hand;
	}


/* utils */
	.disabled {
		color: #999999;
	}
	.error {
		color: #ff0000;
	}
	.invisible {
		display:none;
	}
	.visible {
		display:block;
	}
/* /utils */

/* toolbar */
	.ktml .toolbaritem_disabled {
		width:20px;
		height:20px;
		margin:1px 3px 1px 3px;
		padding:0px;
		border: solid 1px buttonface;
		filter: alpha(opacity = 25);
		-moz-opacity: 0.3;
	}
	.ktml .toolbaritem_flat {
		width:20px;
		height:20px;
		margin:1px 3px 1px 3px;
		padding:0px;
		border: solid 1px buttonface;
	}
	.ktml .toolbaritem_outset {
		width:20px;
		height:20px;
		margin:1px 3px 1px 3px;
		padding:0px;
		border:1px solid;
		border-color: buttonhighlight buttonshadow buttonshadow buttonhighlight;
	}
	.ktml .toolbaritem_inset {
		width:20px;
		height:20px;
		margin:1px 3px 1px 3px;
		padding:0px;
		border-width:1px;
		border-style:inset;
	}
	.ktml .toolbaritem_latched {
		width:20px;
		height:20px;
		margin:1px 3px 1px 3px;
		padding:0px;
		border-width:1px;border-style:inset;
		background-color:#EEEEEE;
	}
	.ktml .toolbar_ptext	{
		font-family: "Microsoft Sans Serif",Tahoma,Arial,Verdana,sans-serif;
		font-size: 11px;
	}

	/* Don't allow the background color to be overridden by default style sheet*/
	/* /toolbar */

/* color chooser */
	.cc_container {
		display:none;
		position:absolute;
		background-color:#ffffff;
		cursor:hand;
	}

	.cc_container table {
		font-family: Verdana;
		font-size: 10px;
		cursor: hand;
	}
	.cc_innerTable td {
		border: 1px ridge #CCCCCC;
	}
/* /color chooser */
	.ktml .introspector * {
		float:none;
		vertical-align: middle;
	}
