body {
	margin-left: 10px;
	font: normal 10px Verdana, sans-serif;
	background-color: #ffffff;
}
input, select, button {
	font: normal 11px Verdana, sans-serif;
	border: solid 1px #000000;
	border-color: #000000 #666666 #666666 #000000;
	color: #000000;
	background-color: #ffffff;
}
.clasu {
	font normal 10px sans-serif;
	text-decoration:none;
}

